@font-face {
    font-family: "Pokemon-Solid";
    src: url(./assets/fonts/Pokemon\ Solid.ttf);
}

html * {
    font-family: Pokemon-Solid;
} 


.navBar {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.searchField {
    width: 256px;
    height: 32px;
    border-radius: 6px;
}


.btnLoadMoreDiv {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

button {
    border-radius: 16px;
    width: 104px;
    border: none;
    filter: drop-shadow(1.5px 2.5px 2.5px black);
}

