html {
    height: 100%;
}

.loaderPosition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loaderBox {
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

.loaderBox img {
    width: 120px;        /* muss gleich sein mit dem oben genannten width und height (in loaderBox)! */
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }