#mainContent, 
#searchContent {
    margin: 0 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-evenly;
}

#content, 
.sContent {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    filter: drop-shadow(1.5px 2.5px 2.5px black);
}

.pokeCard:hover, 
.sPokeCard:hover,
#types {
    transform: scale(1.01);
}

#content img, 
.sContent img {
    max-width: 128px;           
}

.pokeCard, 
.sPokeCard {
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;

    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.pokeCard::before, 
.sPokeCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transition: 0.5s;
}


.pokeCard:hover::before, 
.sPokeCard:hover::before {
    left: 100%;
    transition: all 0.45s ease;
}


.pokemonName,
.pokeSearchName {
    min-width: 148px;
}

#types, 
#searchTypes {
    display: flex;
    justify-content: space-evenly;
}

#types p, 
#searchTypes p  {
    border-radius: 4px;
    min-width: 54px;
    text-align: center;
    font-size: 12px;
}